/* All Sizes */
#main-container {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: 72px 1fr 200px;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

app-header {
	grid-area: header;
}

app-main {
	grid-area: main;
}

app-footer {
	grid-area: footer;
}
