<div id="main-footer">
	<div id="div-logo-footer">
		<a
			id="a-logo-footer"
			href="#">
			<img
				id="img-logo-footer"
				src="./../../../assets/images/logo/logo_alberi-com.png" />
			<p id="p-logo-footer">Alberi.com</p>
		</a>
	</div>
	<div
		id="div-menu-footer"
		class="div-list">
		<ul class="unordered-list">
			<li>
				<p id="title-list">Go to:</p>
			</li>
			<li>
				<a href=""><p>Home</p></a>
			</li>
			<li>
				<a href=""><p>Shop</p></a>
			</li>
			<li>
				<a href=""><p>About</p></a>
			</li>
		</ul>
	</div>
	<div
		id="div-contacts-footer"
		class="div-list">
		<ul
			id="contacts-list"
			class="unordered-list">
			<li>
				<a href=""><i class="fa-brands fa-instagram"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa-brands fa-facebook"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa-brands fa-twitter"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa-brands fa-youtube"></i></a>
			</li>
		</ul>
	</div>
	<div id="div-copyright-footer">
		<p>Copyrights – 2022 Alberi.com by Tektronplus. All rights reserved.</p>
	</div>
</div>
