@import "~@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
:root {
	--primary-color: 30, 50, 24; /* HEX: #1E3218 */
	--secondary-color: 121, 145, 69; /* HEX: #799145 */
	--tertiary-color: 249, 248, 113; /* HEX: #F9F871 */
	--text-color: 243, 252, 240; /* HEX: #F3FCF0 */

	/* Font settings */
	--font-family: "Montserrat", sans-serif;

	--font-weight-s: 100;
	--font-weight-m: 400;
	--font-weight-l: 700;

	--font-size-s: 0.75em;
	--font-size-m: 1em;
	--font-size-l: 2em;
}
/* You can add global styles to this file, and also import other style files */
html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;

	margin: 0;
}
