/* Some variables are in "style.css" file in the :root section */

#main-hero-image {
	/* Size */
	height: 100%;
	width: 100%;

	/* Background - Hero image */
	background-image: url("../../../../assets/images/home/hero-image.jpeg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 25vh; /* to set the center of call to action */
}

/* ---  Call to Action DIV --- */
#div-call-to-action {
	/* Style */
	background-color: rgba(var(--primary-color), 0.75);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
	padding: 3%;
	max-width: var(--breakpoint-mobile);

	/* Layout */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#quote-cta {
	color: rgb(var(--text-color));
	font-family: var(--font-family);
	font-style: italic;
	font-weight: var(--font-weight-m);
	font-size: var(--font-size-l);
}

#button-cta {
	color: rgb(var(--tertiary-color));
	background-color: transparent;
	border: 2px solid rgb(var(--tertiary-color));
	border-radius: 1em;
	padding: 0.75em 1em;

	font-family: var(--font-family);
	font-weight: var(--font-weight-l);
	font-size: var(--font-size-l);

	cursor: pointer;
}

#button-cta:hover {
	background-color: rgb(var(--tertiary-color));
	color: rgba(var(--primary-color));
}
